@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("assets/bower_components/fontawesome/css/all.min.css");
@import url("assets/bower_components/Ionicons/css/ionicons.min.css");
@import "~admin-lte/dist/css/AdminLTE.min.css";
@import "assets/skin-blue.min.css";
@import url("assets/css/fonts.css");
@import url("assets/css/custom.css");
@import url("assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css");
@import '../node_modules/@syncfusion/ej2-angular-diagrams/styles/material.css';
@import '../node_modules/sa-overview-svelte/dist/style.css';

a.sidebar-toggle::before {
    content: none !important;
}

.main-header .logo .logo-lg {
    font-size: large;
    white-space: nowrap;
}